body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-black: #1d1f22;
  --text-green: #5ece7b;
  --text-white: #ffffff;
  --text-ash: #e5e5e5;
  --text-no-stock: #8d8f9a;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url("./assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Condensed";
  src: local("Roboto-Condensed"),
    url("./assets/fonts/Roboto/RobotoCondensed-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: local("SourceSansPro"),
    url("./assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf")
      format("truetype");
  font-display: swap;
}

a {
  text-decoration: none;
  color: var(--text-black);
}
